<launch>
  <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop -->
  <node pkg="nodelet" type="nodelet" name="teleop_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet mobile_base_nodelet_manager">
    <rosparam file="$(find turtlebot_bringup)/param/defaults/smoother.yaml" command="load"/>
    <remap from="teleop_velocity_smoother/smooth_cmd_vel" to="cmd_vel_mux/input/teleop"/>

    <!-- Robot velocity feedbacks; use the one configured as base default -->
    <remap from="teleop_velocity_smoother/odometry" to="odom"/>
    <remap from="teleop_velocity_smoother/robot_cmd_vel" to="mobile_base/commands/velocity"/>
  </node>
  
  <!-- keyboard teleop node -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="keyboard_teleop" output="screen" launch-prefix="xterm -e">
      <param name="speed" type="double" value="0.5"/>
      <param name="turn" type="double" value="1.5" />

      <!--
      <param name="key_timeout" type="double" value="0.2" />
      -->

      <remap from="cmd_vel" to="teleop_velocity_smoother/raw_cmd_vel"/>

      <!--
      <remap from="cmd_vel" to="cmd_vel_mux/input/teleop"/>
      -->

  </node>

</launch>