<launch>
  <!-- keyboard teleop node -->
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="keyboard_teleop" output="screen" launch-prefix="xterm -e">
      <param name="speed" type="double" value="0.25"/>
      <param name="turn" type="double" value="1.5" />

      <!--
      <param name="key_timeout" type="double" value="0.2" />
      -->

      <remap from="cmd_vel" to="velocity_smoother_teleop/raw_cmd_vel"/>

      <!--
      <remap from="cmd_vel" to="cmd_vel_mux/input/teleop"/>
      -->

  </node>

</launch>