<launch>
  <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop -->
  <include file="$(find turtlebot_teleop)/launch/includes/velocity_smoother.launch.xml"/>
  
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="keyboard_teleop" output="screen" launch-prefix="xterm -e">
      <param name="speed" type="double" value="0.5"/>
      <param name="turn" type="double" value="1.5" />

      <!--
      <param name="key_timeout" type="double" value="0.2" />
      -->

      <remap from="cmd_vel" to="teleop_velocity_smoother/raw_cmd_vel"/>

      <!--
      <remap from="cmd_vel" to="cmd_vel_mux/input/teleop"/>
      -->

  </node>

</launch>